.hero{
    background-image: url(/img/destaque.jpeg);
    background-size: cover;
    height: 50vh;
}
/*UL*/
.header ul{
    display: flex;
    justify-content: center;
    padding: 10px;
}

/*Itens da UL*/
.header .nav-main .item-nav{
    margin-left:10px;
    list-style: none;
    background-color:rgba(255, 255, 255, 0.158);
    border-radius: 5%;
    padding: 0.8em;
    transition: 0.5s background-color;
}
.header .nav-main .item-nav:hover {
    background-color:#46989D;
}
/*Links*/
.header .nav-main .item-nav a{
    font-family: sans-serif;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.479);
}
/*------------------------------------*/

@media screen and (max-width: 960px) {
    .hero{
        height: 50vh;
    }
}