.hero{
    background-image: url(/img/destaque.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.sessao-inscrever{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.sessao-inscrever .sessao-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sessao-inscrever .sessao-texto h1, .sessao-inscrever .sessao-texto h2{
    color: white;
    font-size: 5em;
    text-transform: uppercase;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.507);
}
.sessao-inscrever .sessao-texto h2{
    color: #64FF64;
}
@media screen and (max-width:460px) {
    .hero{
        font-size: 0.6em;
    }
    .sessao-inscrever{
        font-size: 0.9em;
    }
}

@media screen and (min-width: 1366px){
	.hero{
        font-size: 2em;
    }
    .button-padrao{
        font-size: 1.2em;
    }
    .header{
        font-size: .5em;
    }

}

