.container{
    width: 80%;
}
.label-padrao{
    display: flex;
    align-self: flex-start;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
}
.button-padrao{
    border: none;
    margin: 1em 0;
    padding: 1em 2em;
    border-radius: 10px;
    background-color:#46989D;
    color: white;
    text-decoration: none;
    font-size: 2em;
    max-width: 600px;
    max-height: 300px;
    text-transform: uppercase;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.411);
}
.button-padrao:hover{
    cursor: pointer;
}

@media screen and (max-width: 1366px){
    .button-padrao{
        font-size: 1em;
    }

}
@media screen and (max-width: 1920px){
    .button-padrao{
        font-size: 1.5em;
    }

}