.sessao-inscrever{
    display: flex;
    justify-content: center;
    max-height: 100vh;
}
.sessao-inscrever .sessao-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sessao-inscrever .sessao-texto h1, .sessao-inscrever .sessao-texto h2{
    color: white;
    font-size: 5em;
    text-transform: uppercase;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.507);
}
.sessao-inscrever .sessao-texto h2{
    color: #64FF64;
}
.button-insc{
    border: none;
    margin: 1em 0;
    padding: 1em 2em;
    border-radius: 10px;
    background-color:#46989D;
    color: white;
    text-decoration: none;
    font-size: 2em;
    max-width: 600px;
    max-height: 300px;
    text-transform: uppercase;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.411);
}
.button-insc:hover{
    cursor: pointer;
}
@media screen and (min-width:0px){
	.hero{
        font-size: .8em;
    }
    
}
@media screen and (min-width: 520px){
	.hero{
        font-size: 1em;
    }
    .header{
        font-size: 1em;
    }
    .button-insc{
        font-size: 1.3em;
    }
}
@media screen and (min-width: 1360px){
	.hero{
        font-size: 1.7em;
    }
    .button-insc{
        font-size: 0.8em;
    }
    .header{
        font-size: .5em;
    }
}

